.account-menu {
    width: 250px;
    height: 100vh;
    background-image: linear-gradient(248deg,#209ff8,#20c5f2 100%);
    box-shadow: 5px 0 10px #007FC8;
}
.account-menu-home {
    color: #FFF; 
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    cursor: pointer;
}
.account-avt {
    width: 100%;
    height: 250px; 
    flex-direction: column; 
}
.account-avt img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.account-name {
    margin-top: 20px;
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
    width: 200px;
    text-align: center;
}
.account-menu-list {
    padding: 40px 10px;
    width: 100%;
    flex-grow: 1;
    background-image: linear-gradient(248deg,#007fc8,#00a5e1 100%);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.account-menu-item { 
    padding: 5px 10px;
    margin: 20px 0;
    font-size: 18px;
    color: #ccc; 
    cursor: pointer;
    align-items: center; 
}
.account-menu-item:hover {
    color: #fff;
}
.account-menu-item .icon {
    width: 20px;
    height: 20px; 
    margin-right: 20px;
}
.menu-item-active {
    color: #fff;
}
.account-main {
    flex-grow: 1;
    padding: 30px 50px;
    height: 100vh;
}
.account-title {
    border-bottom: 1px #ddd solid;
    padding-bottom: 20px;
}
.account-title h1 {
    color: #007FC8;
    margin-bottom: 10px;
}
.account-body { 
    flex-grow: 1;
    overflow-y: scroll;
    margin-top: 10px;
}
.account-body-row  {
    width: 100%; 
    margin: 15px 0;
    align-items: center;
}
.account-body-left {
    height: 30px;
    font-size: 16px;
    width: 200px;
    line-height: 30px;
} 
.account-body-right { 
    flex-grow: 1;
}
.account-body-right .input {
    height: 25px;
    width: 100%; 
    padding: 0 5px;
}
.account-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fc2754;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 1250px) { 
    .dashboard-table .table-order-title:first-child {
        width: 250px !important;
    }
    .mobile-table td:first-child div p {
        width: 250px !important;
    }
}
@media only screen and (max-width: 1050px) { 
    .dashboard-table .table-order-title:first-child {
        width: 200px !important;
    }
    .mobile-table td:first-child div p {
        width: 200px !important;
    }
    .dashboard-table tr th:nth-child(3) {
        display: none;
    }
    .mobile-table td:nth-child(3) {
        display: none;
    }
}
@media only screen and (max-width: 950px) { 
    .dashboard-table .table-order-title:first-child {
        width: 150px !important;
    }
    .mobile-table td:first-child div p {
        width: 150px !important;
    }
}
@media only screen and (max-width: 750px) {  
    .account-body-row {
        flex-direction: column;
    }
    .account-body-left, .account-body-right {
        width: 100%;
    }
    .account-menu {
        width: 200px;
    }
    .dashboard-table .table-order-title:first-child {
        width: 100px !important;
    }
    .mobile-table td:first-child div p {
        width: 100px !important;
    } 
}
@media only screen and (max-width: 650px) {   
    .toast {
        display: none;
    }
    .account-menu {
        width: 180px;
    }
    .account-main {
        padding: 30px;
    }
    .dashboard-table .table-order-title:first-child {
        width: 80px !important;
    }
    .mobile-table td:first-child div p {
        width: 80px !important;
    } 
}
@media only screen and (max-width: 550px) {   
    .Account {
        flex-direction: column;
    }
    .account-main {
        height: max-content;
    }
    .account-menu {
        width: 100%;
        height: max-content;
        position: relative;
    }
    .account-avt {
        padding-top: 50px;
        height: 190px;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
    }
    .account-name {
        margin: 0;
    }
    .account-menu-list {
        width: 100%;
        display: flex;
        padding: 0;    
        align-items: center;
        justify-content: space-around;
    } 
    .account-menu-item .icon {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 360px) { 
    .account-menu-list {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .account-menu-item {
        margin: 5px 0px;
    }
}