/*------- Banner -------*/
.Banner {
    padding-top: 70px;
    width: 100%;
    height: 600px; 
}

.left-banner {
    height: 100%;
    width: 47%;
}
.slider-item {
    height: 100%;
    width: 100%;
    position: relative;
    outline: none;
}
.banner1 {
    background-image: url(../assets/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 47%;
    height: 600px;
}
.banner2 {
    background-image: url(../assets/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 47%;
    height: 600px;
}
.slider-img-child {
    position: absolute;
    width: 200px;
    top: 20px;
    right: 0px;
}
.slick-next, .slick-prev {
    display: none !important;
}
.slick-slider, .slick-list, .slick-track {
    width: 100%;
    height: 100%;
}
.right-banner {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center; 
}
.banner-title {
    font-size: 52px;
    line-height: 36px;
    font-weight: 300;
    color: #007FC8;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 50px;
}
.banner-text {
    margin-top: 50px;
}
.banner-btn-list {
    margin-top: 50px;
    justify-content: space-around;
}
.banner-btn {
    cursor: pointer; 
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #007FC8;
    border-radius: 10px;
}
/*------- Feature -------*/
.Feature {
    width: 100%;
    height: 518px;
}
.left-feature {
}
.right-feature {
}
.flex-order {
    order: 2
}

.feature-intro {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.feature-title {
    text-align: left;
    font-size: 32px;
    font-weight: 300;
    color: #007FC8;
    margin-bottom: 50px;
}
.feature-text {
    font-weight: 14px;
    color: #555;
    text-align: left;
}
.feature-icon-list {
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}
.feature-icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-icon-item p {
    margin-top: 20px;
    font-weight: bold;
}
/*------- Header -------*/
.Header {
    padding: 0 20px;
    width: 100%;
    align-items: center;
    height: 70px;
    border-bottom: solid 1px #e2edf5;
    /* position: relative; */
    z-index: 9;
    position: fixed;
    background-color: #fff;
    z-index: 999;
}
.logo svg {
    width: 140px;
    height: auto;
}
.navbar {
    flex-grow: 1;
    margin: 0 30px;
    height: 100%;
}
.navbar-item {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px; 
    margin-top: 5px; 
    position: relative; 
    padding: 0 15px;
    color: #111;
    text-decoration: none;
}
.navbar-item:after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 100%;
    height: 0px;
    transition: .3s;
    background-color: transparent; 
}
.navbar-item:hover::after { 
    height: 5px;
    background-color: #007FC8; 
}
.navbar-item-box {
    position: absolute;
    background-color: #007FC8;
    left: 0;
    top: 68px;
    width: 100%;
    height: 50px;
    z-index: 1; 
    visibility: hidden; 
    opacity: 0;
}
.showNav {
    visibility: visible;
    opacity: 1;
}
.navbar-item-sub {  
    display: flex !important;  
    align-items: center;
    position: absolute; 
    top: 63px;
    left: -200px;
    padding-left: 200px;
    height: 50px;   
    visibility: hidden;
    z-index: 2;
    width: max-content;
    background-color: #007FC8;
}
.showSub {
    visibility: visible;
}
.navbar-item-sub-title { 
    font-weight: 300;
    color: #FFF;
    height: 100%; 
    text-align: center;
    padding: 0 15px;
    line-height: 50px; 
    text-transform: none; 
}
.navbar-item-sub-title:hover {
    background-color: #005f95;
}
.navbar-item-sub-title:hover .navbar-item-sub-box {
    visibility: visible;
}
.navbar-item-sub-box {
    position: absolute;
    top: 50px;
    left: 0px;
    visibility: hidden;  
    height: 350px;
    background: linear-gradient(to right, #00a5e1, rgba(0,127,200,0.5)),linear-gradient(#007fc8, #007fc8);
}
.navbar-item-sub-box-text {
    padding: 50px 200px;
    padding-right: 0;
    margin-right: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.navbar-item-sub-box-text h5 { 
    font-size: 36px;
    font-weight: 400;
}
.navbar-item-sub-box-text h4 { 
    margin-bottom: 10px;
}
.navbar-item-sub-box-text p { 
    text-align: left;
    line-height: normal;
    margin: 20px 0;
}
.navbar-item-sub-box-btn {
    padding: 0px 50px;
    margin-right: 20px;
    background-color: #fc2754;
    border-radius: 10px;
}
.navbar-item-sub-box-btn-none { 
    background-color: transparent;
    border: 1px #fff solid; 
}
.navbar-item-sub-box-img {
    height: 100%;
    width: max-content; 
    position: absolute;
    right: 0; 
    display: flex;
    justify-content: flex-end; 
    clip-path: polygon(0 0, 40% 100%, 100% 100%, 100% 0);
}
.navbar-item-sub-box-img img {
    width: 400px;
    height: 100%;
}
.float-img {
    position: absolute;
    top: 70px;
    right: 220px;
    z-index: 3;
}
.cart {
    font-size: 18px;
}
.account {
    color: #0e63bb;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px #0e63bb solid;
    margin-right: 20px;
    cursor: pointer;
}
.account:hover {
    background-color: #0e63bb;
    color: #FFF; 
}
.cart-box {
    background-color: #fc2754;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}
.cart-count {
    /* position: absolute;
    top: -10px;
    right: 0; */
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    color: #0e63bb;
    font-weight: bold;
    font-size: 14px;
}
.cart-blur {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7); 
}
.cart-blur-color {
    background-color: transparent;
}
.cart-container {
    width: 500px;
    height: 100vh;  
    right: 0;
    top: 0;
    position: absolute;
    animation-name: cartContainer;
    animation-duration: .5s;
    background-image: linear-gradient(90deg,#00a5e1,rgba(0,127,200,.5)),linear-gradient(#007fc8,#007fc8);
} 
.cartContainerClose {
    animation-name: cartContainerClose;
    animation-duration: .5s;
}
@keyframes cartContainerClose {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(500px);
    }
}
@keyframes cartContainer {
    from {
        transform: translateX(500px);
    } to {
        transform: translateX(0);
    }
}
.cart-header {
    width: 100%;
    height: 40px;
    background-color: #007fc8;
    padding: 5px 10px; 
    color: #FFF;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
}
.cart-body {
    margin: 20px 10px; 
    flex-grow: 1;
}
.cart-body-item { 
    width: 100%;
    height: 90px;  
    padding: 5px 10px 5px 5px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0;
}
.cart-img img {
    width: 80px;
    height: 80px;
}
.cart-info {
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
}
.cart-body-count {
    width: 80px;
    height: 30px;
    background-color: #007fc8;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    justify-content: space-between; 
}
.cart-body-count-icon {
    width: 20px;
    height: 20px; 
}
.cart-price { 
    padding: 10px 0;
    color: #000;
    justify-content: space-between;
    align-items: flex-end;
}
.cart-total {
    justify-content: space-between;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
} 
.cart-total p { 
}
.cart-checkout {
    width: 100%; 
    background-color: #3c4346;
    color: #fff;
    padding: 10px;
}
.cart-checkout-btn {
    padding: 15px;
    width: 100%;
    background-color: #fc2754;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
/*------- Intro -------*/

.Intro {
    
}
.top-intro {
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    background-color: #f5f6f8;
}
.bottom-intro {
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #fff;
}
.intro-title {
    text-align: center;
    width: 450px;
    font-size: 32px;
    font-weight: 300;
    color: #007FC8;
    margin-bottom: 50px;
}
.intro-text {
    text-align: center;
}
.intro-step-item {
    justify-content: center;
    align-items: center;
}
.intro-step-icon .icon {
    font-size: 60px;
    color: #007FC8;
}
.intro-step-title {
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
}
.intro-step-text {
    font-weight: 14px;
    color: #555;
    width: 300px;
    text-align: center;
}
.intro-step-btn {
    margin-top: 40px;
    padding: 15px 40px;
    background-color: #fc2754;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}
.intro-next {
    padding-top: 25px;
    margin: 0 30px;
    color: #007FC8;
}
/*------- Newsletter -------*/
.Newsletter {
    background-color: #69757e;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    width: 100%;
}

.newsletter-title {
    text-align: left;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}
.newsletter-text {
    margin-bottom: 20px;
}
.newsletter-form {
    width: 100%;
    display: flex;
    justify-content: center;
}
.newsletter-form input {
    width: 100%;
    height: 40px;
    width: 50%;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
}
.newsletter-form button {
    background-color: #007FC8;
    outline: none;
    border: none;
    padding: 0 20px;
    color: #FFF;
    font-size: 16px;
}
/*------- Footer -------*/
.Feedback {
    background-color: #4d5459; 
    height: 100px;
    height: max-content;
}
.feedback-box { 
    margin: 50px;
    width: calc(100% - 100px) !important;
    height: max-content;
    display: flex;
    outline: none; 
}
.slick-dots {
    bottom: 10px !important;
}
.slick-dots li.slick-active button:before {
    color: #fff !important; 
}
.feedback-image {
    width: 50%;
    height: 350px;
}
.feedback-image img {
    width: 100%;
    height: 100%;
}
.feedback-text {
    color: #fff;
    font-size: 16px;
    width: 50%;
    height: 350px;
    margin-left: 30px;
    justify-content: center;
    align-items: flex-start;
}
.fadeToLeft {
    animation-name: fadeToLeft;
    animation-duration: 1s; 
}
@keyframes fadeToLeft {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0);
    }
}
.invitejoin {
    padding: 50px; 
}
.invitejoin-title {
    text-align: center;
    color: #007FC8; 
    font-size: 38px;
    line-height: 42px;
    font-weight: 300;
    color: #007FC8;
    margin-bottom: 40px;
}
.invitejoin-text {
    text-align: center;
}
.invitejoin-img { 
    margin-top: 40px;
    justify-content: space-around;
}
.invitejoin-img img {
    width: 150px;
    height: 70px;
}
/*------- Footer -------*/
.Footer {
    background-color: #4d5459;
    width: 100%;
    height: 100px;
    padding: 20px 70px;
    justify-content: space-between;
    color: #FFF;
}

.menu-mobile {
    display: none;
}
.menu-mobile-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6); 
    z-index: 1000;
}
.menu-mobile-box {
    width: 450px;
    height: 100%;
    background: #007FC8; 
    animation-name: OpenMenuMobile;
    animation-duration: .5s;
}
.menu-mobile-box-close { 
    animation-name: CloseMenuMobile;
    animation-duration: .5s;
}
@keyframes OpenMenuMobile {
    from {
        transform: translateX(-450px);
    } to {
        transform: translateX(0);
    }
}
@keyframes CloseMenuMobile {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-450px);
    }
}
.menu-mobile-row {
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.menu-mobile-row-title {
    color: #fff;
    margin: 5px 0;
    cursor: pointer;
}
.menu-mobile-close {
    color: #fff;
    margin-right: 10px;
}

@media only screen and (max-width: 1250px) {
    .right-banner {
        padding: 50px;
    }
    .banner-text {
        margin-top: 30px;
    }
    .top-intro { 
        padding: 50px 100px; 
    }
    .feature-intro {
        padding: 40px;
    }
}
@media only screen and (max-width: 1100px) {
    .banner-title {
        font-size: 46px;
    }
}
@media only screen and (max-width: 1050px) {
    .banner-title {
        font-size: 38px;
    }
    .left-banner {
        width: 55%;
    }
    .banner-text {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 1000px) {
    .navbar-item-sub-box-text {
        padding: 30px 100px;
    }
    .Banner {
        flex-direction: column;
        height: max-content; 
    }
    .left-banner, .right-banner {
        width: 100%;
    }
    .banner-btn-list {
        justify-content: flex-start;
    }
    .banner-btn:first-child {
        margin-right: 20px;
    }
    .banner1, .banner2 { 
        background-position: unset; 
        width: 100%; 
    }
    .slider-img-child { 
        width: 300px;
        top: 100px;
        right: 0px;
    }
    .feature-title {
        margin-bottom: 30px;
        font-size: 28px;
    }
    .Feature {
        height: 400px;
    } 
    .feedback-image, .feedback-text {
        height: 300px;
    }
}
@media only screen and (max-width: 900px) {
    .navbar-item-sub-box-text {
        padding: 30px 80px;
    }
    .Feature { 
        flex-direction: column-reverse;
        height: max-content;
    }
    .right-feature, .left-feature {
        width: 100% !important; 
    }
    .flex-order {
        order: unset;
    }
    .left-feature {
        margin-top: -5px;
    }
    .top-intro {
        padding: 40px;
    }
}
@media only screen and (max-width: 800px) {
    .navbar-item-sub-box-text {
        padding: 20px 60px;
    }
    .feedback-image, .feedback-text {
        height: 250px;
    }
    .newsletter-form input {
        width: 100%;
    }
    .Newsletter {
        padding: 40px;
    }
    .newsletter-title, .newsletter-text {
        text-align: center;
    }
    .Footer {
        padding: 20px 40px;
    }
}
@media only screen and (max-width: 750px) {
    
    .Header {
        display: grid !important;
        grid-template-columns: repeat(12,1fr);
    }
    .menu-mobile {
        display: block;
        grid-column: 1/5;
        justify-content: flex-start;
    }
    .logo {
        display: flex;
        grid-column: 5/9;
        justify-content: center;
        height: 70px;
        align-items: center;
    }
    .cart {
        grid-column: 9/13;
        justify-content: flex-end;
    }
    .account, .navbar {
        display: none !important; 
    }
    .slider-img-child { 
        width: 270px;
        top: 100px; 
    }
    .feedback-image, .feedback-text {
        height: 250px;
    }
}
@media only screen and (max-width: 700px) {
    .banner1, .banner2 { 
        height: 500px;
    }
    .slider-img-child { 
        width: 200px;
        top: 100px; 
    }
    .right-banner {
        padding: 20px;
    }
    .feedback-box {
        flex-direction: column;
    }
    .feedback-image {
        height: 300px;
    }
    .feedback-text {
        margin-top: 20px;
        height: 150px;
    }
    .feedback-image, .feedback-text {
        width: 100%;
    }
    .feedback-text {
        align-items: center;
        margin: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    .banner1, .banner2 { 
        height: 450px;
    }
    .slider-img-child { 
        width: 200px;
        top: 100px;
        right: 0px;
    }
    .feedback-image {
        height: 250px;
    }
    .feedback-text {
        margin-top: 20px; 
    }
}
@media only screen and (max-width: 500px) {
    .cart-container {
        width: 100% !important;
    }
    .banner1, .banner2 { 
        height: 400px;
    }
    .slider-img-child { 
        width: 150px;
        top: 50px; 
    }
    .intro-title {
        width: 100%;
        margin-bottom: 20px;
    }
    .feedback-image {
        height: 200px;
    }
}
@media only screen and (max-width: 450px) {
    .menu-mobile-box {
        width: 100%;
    }
    .banner1, .banner2 { 
        height: 300px;
    } 
    .top-intro, .feature-intro{
        padding: 30px 20px;
    } 
    .invitejoin {
        padding: 30px 20px;
    }
    .invitejoin-img {
        flex-direction: column-reverse;
    }
    .invitejoin-img img {
        margin: 10px 0;
    }
    .feedback-box {
        margin: 30px;
        width: calc(100% - 60px) !important;
    }
    .banner-btn-list {
        flex-direction: column;
    }
    .banner-btn {
        margin: 10px 0 !important;
        text-align: center;
    }
    .feedback-text {
        margin-bottom: 20px; 
    }
    .Newsletter {
        padding: 30px;
    }
    .Footer {
        padding: 20px 30px;
    } 
}
@media only screen and (max-width: 450px) {
    .Footer {
        flex-direction: column;
    }
}