.login {
    width: 100%;
    padding-top: 70px;
    background-color: #fff; 
    height: 100vh;
}
.login-title {
    font-weight: 200;
    font-size: 40px; 
    color: #007FC8;
    margin: 60px;
    margin-left: 150px;
    width: 300px;
}
.login-banner {
    width: 100%;
    flex-grow: 1; 
    background: url("https://my.tractive.com/img/649fae4a31597e6d64afac70eb7c2593.jpg") no-repeat center center;  
    background-size: cover;
    flex-grow: 1;
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    height: 470px; 
}
.login-box {
    position: absolute;
    top: 120px;
    right: 150px;
    width: 350px; 
    box-shadow: 5px 5px 15px 0 #ccc;
    background-color: #fff;
    color: #007FC8;
    padding: 30px;
    height: 470px; 
    justify-content: space-around;
}
.login-box-title {
    font-size: 30px;
    text-align: center;  
}
.login-box label {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
    margin-top: 20px;
}
.login-box label:first-child {
    margin-top: 0px;
}
.login-box input {
    font-size: 14px;
    padding: 0;
    height: 30px;
    border: none;
    outline: 1px #ddd solid;
    padding: 0 10px;
}
.login-box button {
    color: #FFF;
    height: 40px;
    margin-top: 20px;
    background-color: #ff4367;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}
.login-forgot { 
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.login-forgot:hover {
    text-decoration: underline;
}
.login-register {
    padding: 10px 20px;
    text-align: center;
    border: 1px #007FC8 solid;
    border-radius: 5px;
    cursor: pointer; 
} 
.login-status {
    height: 20px; 
    font-size: 14px;
}
.login-err {
    color: red; 
}
.login-success {
    color: green; 
}
 
@media only screen and (max-width: 1100px) {    
    .login-title { 
        margin-left: 100px;
    }
    .login-box { 
        right: 100px; 
    }
}
@media only screen and (max-width: 950px) {    
    .login-title { 
        margin-left: 50px;
    }
    .login-box { 
        right: 50px; 
    }
}
@media only screen and (max-width: 750px) {    
    .login-title {
        width: 100%;
        margin: 0;
        padding: 30px 200px;
        text-align: center;
        font-size: 26px;
    }
    .login-box {  
        position: absolute; 
        top: 200px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
}
@media only screen and (max-width: 600px) {    
    .login-title { 
        padding: 30px 150px;
    }
}
@media only screen and (max-width: 500px) {    
    .login-title { 
        padding: 30px 100px;
    }
}
@media only screen and (max-width: 400px) {    
    .login-title { 
        padding: 30px 50px;
    }  
    .login-box {   
        width: 100%;
    }
} 