.news {
    margin: 0 10px; 
    width: calc(25% - 20px);
    height: max-content;
    display: flex;
    flex-direction: column;   
    border: 1px #ddd solid;
    border-radius: 10px;
    background-color:  rgb(245, 246, 248); 
    margin-bottom: 40px;
    cursor: pointer;
}
.newslastest-list .news { 
    min-width: 280px;
}
.news-img {
    position: relative;
}
.news-img img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.news-cate {
    padding: 10px 10px;
    background-color: #007FC8;
    width: 150px;
    color: #FFF;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    height: 40px;
    bottom: -18px;
}
.news-time {
    padding: 40px 20px 0px 20px;
    color: #777;
    font-size: 14px;
}
.news-title {
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 10px 0;
}
.news-content {
    font-size: 14px;
    padding: 0 20px;
    height: 65px;
    text-align: left;
    color: #666;
    /* Add ... if text is full */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
}
.news-content-big {
    height: 35px !important;
    -webkit-line-clamp: 2 !important;
}
.news-readmore {
    color: #007FC8;
    padding: 20px;
    text-transform:capitalize;
    cursor: pointer;
}
.news-readmore:hover {
    text-decoration: underline;
}
.NewsLastest {
    width: 100%;
    padding: 120px 100px 50px 100px;
    background-image: linear-gradient(248deg,#007fc8,#00a5e1 100%);
    min-height: 580px; 
}
.newslastest-title {
    color: #FFF;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.newslastest-list {
    margin-top: 50px;
    justify-content: space-between;
}
.newslastest-item img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.newslastest-item {
    position: relative;
    border: none; 
}
.newslastest-item:hover {
    box-shadow: 5px 5px 40px 5px rgba(1, 1, 1, 0.5); ;
}
.newslastest-item:before {
    border: 38px solid transparent;
    border-top: 38px solid #ff4367;
    border-right: 38px solid #ff4367;
    border-radius: 0 10px 0 0;
    top: 0;
    right: 0;
    position: absolute;
    content: '';
}
.newslastest-item:after {
    text-transform: uppercase;
    content: 'Latest';
    position: absolute;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    top: 17px;
    right: 5px;
}
.newslastest-tag {
    padding: 20px 20px 0 20px;
    font-size: 14px;
    text-transform: capitalize;
}
.newslastest-item .news-title {
    margin: 10px 0;
} 
.newslist-tab { 
    padding: 30px 30px 25px 30px;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px #ddd solid;
}
.newslist-box {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    color: #007FC8;
    font-weight: bold;
    font-size: 13px;
    justify-content: space-between;
    width: 150px;
    margin: 0 5px 5px 0;
    border: 1px  #007FC8 solid;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
}
.newslist-box:hover, .newslist-box-active {
    background-color: #007FC8;
    color: #fff;
}
.news-count {
    background-color: #ff4367;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    color: #FFF;
}
.newslist-big {
    flex-wrap: wrap;
    padding: 30px 50px;
}
.newsbig { 
    width: calc(50% - 40px); 
    margin: 20px;
    border-radius: 10px; 
}
.newsbig img {
    width: 100%;
    height: 30vw;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}
.newsbig .newslastest-tag {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
.newsbig .news-title {
    padding-left: 0;
    padding-right: 0; 
    font-size: 24px;
}
.newsbig .news-content {
    padding-left: 0;
    padding-right: 0; 
    font-size: 16px; 
}
.newsbig .news-readmore {
    padding-left: 0;
    padding-right: 0;  
}
.newslist-small {
    padding: 30px 50px 0 30px;
    flex-wrap: wrap;
}

.NewsBanner {
    height: 420px; 
    width: 100%;
    /* background-image: linear-gradient(248deg,#007fc8,#00a5e1 100%);  */
    background-color: #007FC8;
}
.newsbanner-info {
    padding: 120px 100px 50px 100px;
    justify-content: space-between;
    width: calc(100% - 580px);
}
.newsbanner-img {
    width: 580px;
}
.newsbanner-img img {
    width: 100%;
    height: 100%;
}
.newsbanner-cate {
    color: #fff;
    border: #fff 1px solid;
    padding: 5px 10px;
    text-transform: capitalize;
    width: max-content;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}
.newsbanner-title {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}
.newsbanner-time {
    font-size: 14px;
    color: #FFF;
    margin: 10px 0;
}
.newsbanner-des {
    font-size: 16px;
    color: #FFF; 
    margin: 20px 0;
}

.NewsContent {
    padding: 50px 50px 0px 50px;
}
.newscontent-text {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px #ddd solid;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px #ddd solid; 
}
.newslist-pag-big {
    display: none;
}

.pagnigation_disable {
    cursor: default;
    pointer-events: none;
    color: #eee !important;
    /* display: none; */
}

@media only screen and (max-width: 1250px) {   
    .news-content { 
        height: 30px; 
        -webkit-line-clamp: 2; 
    }
    .news-title { 
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        max-width: 100%;
        overflow: hidden;
    }
    .news-time {
        padding: 30px 20px 0px 20px;
    }
    .NewsLastest { 
        padding: 120px 50px 50px 50px;
    }
}

@media only screen and (max-width: 1150px) {   
    .productrecomend-list {
        flex-wrap: wrap;
    }
    .news { 
        width: calc(33.3333% - 20px);
    }
    .newslastest-item {
        width: calc(33.3333% - 100px);
    }
    .news-content { 
        height: 65px; 
        -webkit-line-clamp: 4; 
    } 
}
@media only screen and (max-width: 1050px) {   
    .NewsLastest { 
        padding: 120px 150px 50px 150px;
    }  
    .newslastest-list .news:last-child {
        display: none;
    }
}
@media only screen and (max-width: 950px) {   
    .NewsLastest { 
        padding: 120px 80px 50px 80px;
    }    
    .news-content { 
        height: 35px; 
        -webkit-line-clamp: 2; 
    } 
}

@media only screen and (max-width: 850px) {    
    .news { 
        width: calc(50% - 20px);
    } 
    .news-content { 
        height: 65px; 
        -webkit-line-clamp: 4; 
    }
    .news:nth-child(3n) {
        display: none;
    }  
    .newslastest-list .news {
        margin: 0 20px;
    }
    .NewsLastest { 
        padding: 120px 40px 50px 40px;
    }    
    .newslist-big {
        padding: 30px 50px 0 50px;
    }
    .newsbig {
        width: calc(50% - 20px);
        margin: 0 10px;
    }
    .newslist-pag {
        display: none;
    }
    .newslist-pag-big {
        display: block;
        width: 100%;
    }
    .newslist-small {
        display: none !important;
    }
    .newsbig .news-title {
        font-size: 18px;
    }
}
@media only screen and (max-width: 750px) {   
    .newslastest-list {
        justify-content: center;
    }  
    .newslastest-list .news:nth-child(2) {
        display: none;
    }
    .newslist-big {
        padding: 30px;
    }
}
@media only screen and (max-width: 650px) {     
    .news-content { 
        height: 35px; 
        -webkit-line-clamp: 2; 
    } 
}
@media only screen and (max-width: 550px) {  
    .news-readmore {
        padding-top: 10px;
    }    
    .news-img img {
        height: 120px;
    }
    .newsbig {
        width: 100%; 
    } 
    .newsbig img {
        height: 220px;
    }
}
@media only screen and (max-width: 450px) {  
    .news-readmore {
        padding-top: 20px;
    }    
    .news-img img {
        height: 200px;
    }
    .news { 
        width: calc(100% - 20px);
    } 
    .news-content { 
        height: 65px; 
        -webkit-line-clamp: 4; 
    } 
}