

.Header {
    padding: 0 20px;
    width: 100%;
    align-items: center;
    height: 70px;
    border-bottom: solid 2px #e2edf5;
    position: relative;
    background-color: #fff;
  }
  .logo svg {
    width: 140px;
    height: auto;
  }
  .navbar {
    flex-grow: 1;
    margin: 0 30px;
  }
  .navbar-item {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px;
  }
  .cart {
    font-size: 18px;
  }
  .account {
    color: #0e63bb;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px #0e63bb solid;
    margin-right: 20px;
  }
  .cart-box {
    background-color: #fc2754;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 10px;
  }