.App {
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-p {
  padding: 0 !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}
.ml-2 {
  margin-left: 20px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.ml-5 {
  margin-left: 50px !important;
}
.mr-5 {
  margin-right: 50px !important;
}
.no-outline:focus {
  outline: none !important;
  border-bottom: 2px solid #111;
}
.no-outline:hover {
  border-bottom: 2px solid #111;
  transition: .5s;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.nodrag {
  -webkit-user-select: none;
    -khtml-user-select: none;
      -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
          user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.a {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: flex !important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex !important;
  flex-direction: column;
}
.btn {
  background-color: #0e63bb !important;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 
.btn-nothover {
  background-color: #0e63bb !important;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}